/*------------------------------- CSS RESET--------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------------Variables ----------------------------------*/

:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);  /*(graphic design text)*/
    --Dark-blue: hsl(198, 62%, 26%);              /*(photography text) */
    --Dark-moderate-cyan: hsl(168, 34%, 41%);      /*footer*/

/* Neutral */

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}


/**********************      Style       *************************/
 body {
    min-width: 375px;
    margin: 0 auto;
    /* width: 100%; */
   
 }

/**********************      Header       *************************/


header {
    background-image: url("./images/mobile/image-header.jpg");
    height: 100vh;
    background-size: 100% 100%;
    background-position: center center; 
}

.top-header{
    padding-top: 40px;
    display: flex;
    justify-content: space-between; 
    width: 90%;
    margin: 0 auto;

}

.logo::focus,
.logo::hover {
    opacity: 0.5;
}

.navbar {
    background-color: var(--White);
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
    display: none;
}

.main-nav {
    list-style: none;
    padding: 0;
    text-align: center;
}

a.nav-links {    
    text-decoration: none;
    line-height: 4;
    color: var(--Dark-desaturated-cyan);
    font-size: 1em; 
    padding: 0;   
    font-size: 1em;
}
.nav-toggle {
    cursor: pointer;
}

.nav-toggle::focus,
.nav-toggle::hover {
    opacity: 0.5;
}

.btn{
    text-decoration: none;  
    padding: 30px;
    border-radius: 50px;
    background-color: var(--Yellow);
    font-weight: 600;
    font-size: 1em;
    width: 50%;
    text-align: center;
}

div.click{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.pst-abs{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin-top: 90px;
} 

h1.title { 
    color: #ffff;
    text-align: center;
    font-size: 2.5em;
    line-height: 1;
    letter-spacing: 10px;   
}
img.arrow{
    width: 10%;  
}

.active {
    display: block;
  }

.none{
    display:none;
}

.img-desktop{
    display: none;
}

/**********************      Body       *************************/

h2{
    font-weight: 900;
    font-size: 2em;
    line-height: 1;
}

p{
    font-size: 18px;
    color: var(--Very-dark-grayish-blue);
    font-weight: 700;
}

.transform,
.stand-out
 {
     width: 100%;
     margin: 100px 0;
     text-align: center
 }

 .content{
    width: 90%;
    margin: 0 auto;
}

.content > p{
    line-height: 2;
}

.three,
.four{
   position: relative;
}

 .graphics, 
 .photography {
    position: absolute;
    bottom: 50px;
 }

 .photography {
 color: var(--Dark-blue);
 }

 .graphics{
  color: var(--Dark-desaturated-cyan);
 }

 .cont{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    margin: 0 auto;
 }

h3.client{
    padding-top: 50px;
}

h4{
    color: var(--Grayish-blue);
}
.contaniner {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
 }

  
.client{
    letter-spacing: 6px;
    font-weight: 900;
    text-align: center;
    color: var(--Grayish-blue );

}

.client_name{
    font-weight: 900;
}

 .client_img{
    margin: 0 auto;
    border-radius: 50px;
 }
 .testimonials p {
    line-height: 50px;
 
 }
 

 .flex{
    display:flex;
    flex-wrap:wrap;
 }

 .item{
    width: 50%;
 }


/**********************      Footer       *************************/

.footer_logo{
    margin: 0 auto;  
}

.footer-container{
    padding: 50px 0;
    background: rgb(100, 200, 150);
}


.nav{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 10px;
    margin: 50px 0;
 
}
    
.nav-link{
    text-decoration: none;
    font-size: 1em;
}

.socials{
    display:flex;
    justify-content: space-around;
    margin: 50px auto;
    width: 50%
    
}

.attribution a {
    font-size: 1em;
}

/**********************      Desktop view       *************************/

@media (min-width: 533px){

    body{
        min-width: 1440px;
    }
/*----------------Header----------------*/

header{
    background-image: url("./images/desktop/image-header.jpg");
    height: 100vh;
    /* position: relative; */
    color: white;
    width: 100%;
}

.top-header{
    padding: 20px;
}

.nav-toggle {
    display: none;
}

.img-mobile{
    display: none;
}

.img-desktop{
    display: block;
    width: 100%;
}

nav.navbar{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-left: 30px;
    background: transparent;
}

ul.main-nav{
 display: flex;
 list-style: none;
 padding: 0;
}

a.nav-links{
    text-decoration: none;
    color: white;
    margin-left: 5em;
    font-size: 1.5em;
}

.hdup{
    display: flex;
    align-items: baseline;
    padding: 25px 50px;
}

h1.title {
    font-size: 4.5em;
    letter-spacing: 0.3em;
    font-weight: 900;
}

.pst-abs{ 
   margin: 200px auto;
}

a.btn{
    text-decoration: none;   
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-weight: 600;
    margin: 20px;
    margin-left: 50px;
    width: 100%;
}

a.btn:focus,
a.btn:hover{
    opacity: 0.5;
}


img.arrow{
    width: 2.5%;  
}
    h2{
        font-weight: 900;
        font-size: 3.5em;
        line-height: 1;
    }
    
    p{
        font-size: 1.5em;
        color: var(--Very-dark-grayish-blue);
        font-weight: 700;
    }

    
    h3{
        font-size: 2em;
    }
    .one{
        display:flex;
        flex-direction: row-reverse;
        flex: 1;
    }

    .img-trans{
        width: 50%;
    }
    
    .transform,
    .stand-out{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:0;
        padding:0;
        width: 50%;
    }

    .content{
        width:70%;
        text-align: left;
    }

    .content p{
        font-size: 1.5em;
    }   

    .two{
        display:flex;
    }

    .sec{
        display: flex;
    }
    .three{
        background-image: url(./images/desktop/image-graphic-design.jpg);
        
    }

    .four{
        background-image: url(./images/desktop/image-photography.jpg);
    }
    .three,
    .four{
        width: 100%;
        height: 80vh;
        position: static;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .graphics,
    .photography{
        position: static;   
        padding-top: 40%;   
    }
    .cont{
        width: 60%;
    }

    .cont p{
        font-size: 1.5em;
    }
    .aside{
        margin: 100px auto;
    }

    .testimonials{
        display:flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-around;
        gap: 30px;
    }

    .contaniner {
        width: 25%;
    }

    .contaniner p {
        font-size: 2em;
    }

    .flex{
        display:flex;
     }
    
     .item{
        width: 25%;
     }

     .footer-container{
        padding: 100px 0;
    }

     .fot{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

     .nav{
        width: 25%;
        margin: 50px 0;
     }

     .socials{
        display:flex;
        width: 12.5%
        
    }

    img.logo :focus,
    img.logo :hover {
     color: white;
}
    
}
