/*------------------------------- CSS RESET--------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  border: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
ul[role='list'],
ol[role='list'] {
  list-style: none;
} */

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------------Variables ----------------------------------*/

:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);  /*(graphic design text)*/
    --Dark-blue: hsl(198, 62%, 26%);              /*(photography text) */
    --Dark-moderate-cyan: hsl(168, 34%, 41%);      /*footer*/

/* Neutral */

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}


/**********************      Style       *************************/
 body {
    min-width: 375px;
 }

.img-desktop{
    display: none;
}


/**********************      Header       *************************/


.header {
    position: relative;
}

.top-header{
    position: absolute;
    top: 30px;
    left: 27px;
    width: 85%;
    display: flex;
    justify-content: space-between;    
}

.logo:focus,
.logo:hover {
    opacity: 0.5;
}

.navbar {
    position: absolute;
    top: 80px;
    left: 27px;
    background-color: var(--White);
    width: 85%;
    padding-right: 30px;
    text-align: center;
    display:none;
}

.main-nav {
        list-style-type: none;
}

.nav-links {    
    text-decoration: none;
    line-height: 4;
    color: var(--Dark-desaturated-cyan);
    font-size: 1em;    
}
.nav-toggle {
    cursor: pointer;

}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: 0.5;
}

.btn{
    text-decoration: none;
    margin-left: 40px; 
    margin-bottom: 40px;   
    padding: 20px;
    border-radius: 50px;
    background-color: var(--Yellow);
    font-weight: 600;
}


 .pst-abs{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 130px;
} 

.title { 
    color: #ffff;
    text-align: center;
    font-size: 50px;
    line-height: 1;
   
}
img.arrow{
    width: 10%;  
}

.active {
    display: block;
  }

.none{
    display:none;
}


/**********************      Body       *************************/

h2{
    font-weight: 900;
    font-size: 2.5em;
    line-height: 1;
}

p{
    font-size: 18px;
    color: var(--Very-dark-grayish-blue);
    font-weight: 700;
}

.client.h3{
    padding: 50px;
}

h4{
    color: var(--Grayish-blue);
}
.contaniner{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;

 }
 .transform,
 .stand-out
 {
     width: 80%;
     margin: 100px auto;
     text-align: center
 }

 .three,
 .four{
    position: relative;
 }

 .graphics, 
 .photography {
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    text-align: center;
 }

 .photography {
 color: var(--Dark-blue);
 }

 .graphics{
  color: var(--Dark-desaturated-cyan);
 }

 .flex{
    display:flex;
    flex-wrap:wrap;
    
 }

 .item{
    width: 50%;
 }

 
.client{
    letter-spacing: 6px;
    font-weight: 900;
    text-align: center;
    color: var(--Grayish-blue );

}

.client_name{
    font-weight: 900;
}

 .client_img{
    margin: 0 auto;
    border-radius: 50px;
 }
/**********************      Footer       *************************/

.footer_logo{
    margin: 0 auto;  
    color: var(--Grayish-blue); 
}

.footer-container{
    padding: 50px 0;
    background: rgb(100, 200, 150);
}


.nav{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 10px;
 
}
    
.nav-link{
    text-decoration: none;
    color: var(--white); 
}

.socials{
    display:flex;
    justify-content: space-around;
    margin: 50px auto;
    width: 50%
    
}

/**********************      Desktop view       *************************/

@media (min-width: 482px){


    body{
        min-width: 1440px;
    }
/*----------------Header----------------*/
    .header{
        position: relative;
    }

    .img-mobile{
        display: none;
    }
    .img-desktop{
        display: block;
        width: 100%;
    }

    .nav-toggle {
        display: none;
    }

    .navbar{
        width: 100%;
        padding: 0px;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        background: none;
        position: absolute;
        top: 20px;
        margin-right: 3em;
    }

    .main-nav {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav-links {    
        text-decoration: none;
        line-height: 4;
        color: var(--White);
        font-size: 1.5em;    
        margin-left: 5em;
    }

    .btn{
       display:flex;
       justify-content:center;
       align-items: center;
       padding: 20px;
       border-radius: 20px;
       background-color: var(--Yellow);
       font-weight: 600;
       color: black;
    }

    .pst-abs{
       
    }

    .title{
        letter-spacing: 0.5em;
        font-size: 4.5em;
        text-align: center;
    }

    h2{
        font-weight: 900;
        font-size: 3.5em;
        line-height: 1;
    }
    
    p{
        font-size: 1.5em;
        color: var(--Very-dark-grayish-blue);
        font-weight: 700;
    }

    
    h3{
        font-size: 2em;
    }
    .one{
        display:flex;
        flex-direction: row-reverse;
    }

    .img-trans{
        width: 50%;
    }
    
    .transform,
    .stand-out{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:0;
        padding:0;
        width: 50%;
    }

    .content{
        width:70%;
        text-align: left;
    }

   

    .two{
        display:flex;
    }

    .sec{
        display: flex;
    }

    .three,
    .four{
        width: 100%;
    }

    .graphics,
    .photography{
        
    }
    .cont{
        width: 60%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aside{
        margin: 100px auto;
    }

    .testimonials{
        display:flex;
        width: 70%;
        margin: 0 auto;
        justify-content: space-around;
        gap: 30px;
    }

    .flex{
        display:flex;
     }
    
     .item{
        width: 25%;
     }

     .footer-container{
        padding: 100px 0;
    }

     .fot{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

     .nav{
        width: 25%;
        margin: 50px 0;
     }

     .socials{
        display:flex;
        width: 12.5%
        
    }
    
}
